.login-container{
    /* border: 2px solid red; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.login-container .login-form{
    padding: 4rem;
    border-radius: 10px;
    background-color: #0A2463;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}